gym==0.23.1
fancy_einsum
einops
requests
transformers
pytest
click
joblib
tqdm
ipykernel
notebook
ipywidgets
jupyter
flask
matplotlib
numpy-stl
mediapy
pandas
scikit-learn
black
wandb
sentence-transformers
ftfy
tensorboard
pygfusers